version: "3.8"

services:
  postgres:
    image: postgres:15
    container_name: skincare-postgres
    environment:
      POSTGRES_USER: ${POSTGRES_USER:-postgres}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD:-OipcJXSrnnzFXeszAnAFVDncGocdRuzb}
      POSTGRES_DB: ${POSTGRES_DB:-railway}
    ports:
      - "5432:5432"
    restart: unless-stopped
    networks:
      - skincare-network

  airflow-webserver:
    image: apache/airflow:2.9.3
    container_name: skincare-airflow-webserver
    depends_on:
      - postgres
    environment:
      # Fix pour l'import des plugins
      PYTHONPATH: /opt/airflow
      AIRFLOW__API__AUTH_BACKENDS: ${AIRFLOW__API__AUTH_BACKENDS:-airflow.api.auth.backend.basic_auth,airflow.api.auth.backend.session}
      AIRFLOW__DATABASE__SQL_ALCHEMY_CONN: ${AIRFLOW__DATABASE__SQL_ALCHEMY_CONN:-postgresql+psycopg2://postgres:OipcJXSrnnzFXeszAnAFVDncGocdRuzb@postgres.railway.internal:5432/railway}
      DATABASE_URL: ${DATABASE_URL:-postgresql+psycopg2://postgres:OipcJXSrnnzFXeszAnAFVDncGocdRuzb@postgres.railway.internal:5432/railway}
      AIRFLOW__WEBSERVER__SECRET_KEY: ${AIRFLOW__WEBSERVER__SECRET_KEY:-skincare_secret_key_2026_secure}
      AIRFLOW__CORE__EXECUTOR: LocalExecutor
      AIRFLOW__CORE__LOAD_EXAMPLES: "false"
    ports:
      - "8080:8080"
    volumes:
      - ./webapp/plugins:/opt/airflow/plugins:ro
      - ./webapp/data:/opt/airflow/data
    command: >
      bash -c "airflow webserver"
    networks:
      - skincare-network

  airflow-scheduler:
    image: apache/airflow:2.9.3
    container_name: skincare-airflow-scheduler
    depends_on:
      - postgres
    environment:
      # Fix pour l'import des plugins
      PYTHONPATH: /opt/airflow
      AIRFLOW__DATABASE__SQL_ALCHEMY_CONN: ${AIRFLOW__DATABASE__SQL_ALCHEMY_CONN:-postgresql+psycopg2://postgres:OipcJXSrnnzFXeszAnAFVDncGocdRuzb@postgres.railway.internal:5432/railway}
      DATABASE_URL: ${DATABASE_URL:-postgresql+psycopg2://postgres:OipcJXSrnnzFXeszAnAFVDncGocdRuzb@postgres.railway.internal:5432/railway}
      AIRFLOW__CORE__EXECUTOR: LocalExecutor
    volumes:
      - ./webapp/plugins:/opt/airflow/plugins:ro
      - ./webapp/data:/opt/airflow/data
    command: >
      bash -c "airflow db migrate && airflow scheduler"
    networks:
      - skincare-network

  flask-app:
    build:
      context: ./webapp
      dockerfile: Dockerfile
    container_name: skincare-flask-app
    depends_on:
      - postgres
      - airflow-webserver
    environment:
      # Indique à Python que le dossier racine est /app pour trouver 'plugins'
      PYTHONPATH: /webapp
      # Identifiants réels Railway
      DATABASE_URL: ${DATABASE_URL:-postgresql+psycopg2://postgres:OipcJXSrnnzFXeszAnAFVDncGocdRuzb@postgres.railway.internal:5432/railway}
      SQLALCHEMY_DATABASE_URI: ${DATABASE_URL:-postgresql+psycopg2://postgres:OipcJXSrnnzFXeszAnAFVDncGocdRuzb@postgres.railway.internal:5432/railway}
      # URL Interne pour Railway
      AIRFLOW_URL: ${AIRFLOW_URL:-http://airflow-webserver.railway.internal:8080}
      PORT: 5000
    ports:
      - "5000:5000"
    volumes:
      - ./webapp:/app
    restart: unless-stopped
    networks:
      - skincare-network

networks:
  skincare-network:
    driver: bridge
